.card-set {
  .card-item {
    display: block;
    position: relative;
    margin: $card-item-margin;
    padding: $card-item-padding;
    color: $text-color;
    background-color: $card-item-bg-color;
    font-size: 80%;
    line-height: 1.4em;
    @include border-radius(3px);
    @include single-box-shadow(rgba(#666, 0.2), 1px, 1px, 3px);
    &.card-item-disable {
      background-color: $card-item-bg-color-disable;
    }
    &.card-item-fixed {
      height: $card-item-height;
      line-height: $card-item-height;
      .card-item-content {
        height: $card-item-height;
        line-height: $card-item-height;
      }
      &.card-item-shrinkable {
        cursor: pointer;
        @include link-colors($text-color);
        text-decoration: none;
        &.hover, &.active {
          margin: $card-item-margin + $card-item-shrink;
          padding: $card-item-padding - $card-item-shrink $card-item-padding;
        }
      }
    }
    .card-item-icon {
      width: $card-item-icon-size;
      height: $card-item-icon-size;
      line-height: $card-item-icon-size;
      margin-right: $card-item-padding;
      text-align: center;
      background: #999;
      color: #fff;
      text-transform: uppercase;
      font-size: 75%;
      @include inline-block;
      @include border-radius(3px);
      vertical-align: baseline;
      &.icon-m { background-color: $color-m;}
      &.icon-e { background-color: $color-e;}
      &.icon-c { background-color: $color-c;}
      &.icon-a { background-color: $color-a;}
    }
    .card-item-content {
    }
    .card-item-caret {
      position: absolute;
      right: $card-item-padding + $card-item-icon-size/2;
      height: $card-item-icon-size;
      line-height: $card-item-icon-size;
    }
  }
}
