@import 'compass';
@import 'compass/reset';

@import 'variables';
@import 'cards';

body {
  background-color: $bg-color;
  font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.container {
  height: 100%;
}

.header {
  height: 48px;
  line-height: 48px;
  color: #fff;
  background-color: $base-color;
  @include single-box-shadow(rgba(#666, 0.2), 1px, 1px, 3px);
  h1 {
    text-align: center;
    font-size: 100%;
  }
  &.header-m { background-color: $color-m; }
  &.header-e { background-color: $color-e; }
  &.header-c { background-color: $color-c; }
  &.header-a { background-color: $color-a; }
  &.header-adv { background-color: $color-adv; }
}

.footer {
  height: 48px;
  line-height: 1.8em;
  text-align: center;
  font-size: 80%;
  color: $text-color;
  a { @include link-colors($text-color, $base-color, $base-color, $text-color, $base-color); }
  border-top: 1px solid #ccc;
  padding-top: $card-item-margin;
  margin: 0 $card-item-margin;
}

.slash-delimited-list {
  /* @include delimited-list(' / '); */
  @include inline-block-list;
  li {
    &:after { content: '/'; padding: 0 .3em; }
    &:last-child { &:after { content: ''; } }
  }
}

h1 {
  font-size: 120%;
  margin-bottom: 12px;
}

h2 {
  margin-top: 12px;
  border-bottom: 1px solid #ccc;
  &:before { content: '＊ '; }
}

p, ul {
  padding: 8px;
}

.tab-wday {
  margin: $card-item-margin;
  li {
    color: $text-color;
    list-style: none;
    width: $nav-btn-width;
    height: $nav-btn-height;
    line-height: $nav-btn-height;
    margin: 0 $nav-btn-width-margin;
    background: #fff;
    text-align: center;
    @include inline-block;
    @include border-radius(3px);
    @include box-sizing(border-box);
    @include single-box-shadow(rgba(#666, 0.2), 1px, 1px, 3px);
    &:first-child {
      margin-left: 0;
      &:hover, &:active { margin-left: $nav-btn-width-shrink; }
      &.active { &:hover, &:active { margin-left: 0; } }
    }
    &:last-child {
      margin-right: 0;
      &:hover, &:active { margin-right: $nav-btn-width-shrink; }
      &.active { &:hover, &:active { margin-right: 0; } }
    }
    a {
      display: block;
      @include link-colors($text-color);
      text-decoration: none;
      &[disabled=disabled] { cursor: default; }
    }
    &.active {
      background-color: #ccc;
      &:hover, &:active {
        height: $nav-btn-height;
        line-height: $nav-btn-height;
        width: $nav-btn-width;
        margin: 0 $nav-btn-width-margin;
      }
    }
    &:hover, &:active {
      height: $nav-btn-height - $nav-btn-height-shrink * 2;
      line-height: $nav-btn-height - $nav-btn-height-shrink * 2;
      width: $nav-btn-width - $nav-btn-width-shrink * 2;
      margin: 0 $nav-btn-width-margin + $nav-btn-width-shrink;
    }
  }
}
