@charset "UTF-8";
/* line 17, ../../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../src/sass/cards.scss */
.card-set .card-item {
  display: block;
  position: relative;
  margin: 8px;
  padding: 16px;
  color: #666666;
  background-color: white;
  font-size: 80%;
  line-height: 1.4em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.2);
  box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.2);
}
/* line 13, ../src/sass/cards.scss */
.card-set .card-item.card-item-disable {
  background-color: #f6f6f6;
}
/* line 16, ../src/sass/cards.scss */
.card-set .card-item.card-item-fixed {
  height: 32px;
  line-height: 32px;
}
/* line 19, ../src/sass/cards.scss */
.card-set .card-item.card-item-fixed .card-item-content {
  height: 32px;
  line-height: 32px;
}
/* line 23, ../src/sass/cards.scss */
.card-set .card-item.card-item-fixed.card-item-shrinkable {
  color: #666666;
  text-decoration: none;
}
/* line 26, ../src/sass/cards.scss */
.card-set .card-item.card-item-fixed.card-item-shrinkable.hover, .card-set .card-item.card-item-fixed.card-item-shrinkable.active {
  margin: 12px;
  padding: 12px 16px;
}
/* line 32, ../src/sass/cards.scss */
.card-set .card-item .card-item-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-right: 16px;
  text-align: center;
  background: #999;
  color: #fff;
  text-transform: uppercase;
  font-size: 75%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  vertical-align: baseline;
}
/* line 45, ../src/sass/cards.scss */
.card-set .card-item .card-item-icon.icon-m {
  background-color: rgba(153, 0, 0, 0.5);
}
/* line 46, ../src/sass/cards.scss */
.card-set .card-item .card-item-icon.icon-e {
  background-color: rgba(204, 153, 0, 0.5);
}
/* line 47, ../src/sass/cards.scss */
.card-set .card-item .card-item-icon.icon-c {
  background-color: rgba(0, 102, 204, 0.5);
}
/* line 48, ../src/sass/cards.scss */
.card-set .card-item .card-item-icon.icon-a {
  background-color: rgba(0, 102, 0, 0.5);
}
/* line 52, ../src/sass/cards.scss */
.card-set .card-item .card-item-caret {
  position: absolute;
  right: 32px;
  height: 32px;
  line-height: 32px;
}

/* line 1, ../src/sass/tabs.scss */
.nav-tabs {
  list-style: none;
  margin: 8px;
  padding: 0;
}
/* line 5, ../src/sass/tabs.scss */
.nav-tabs .tab {
  cursor: pointer;
  color: #666666;
  width: 18.4%;
  height: 32px;
  line-height: 32px;
  margin: 0 1%;
  background: #fff;
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.2);
  box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.2);
}
/* line 18, ../src/sass/tabs.scss */
.nav-tabs .tab a {
  display: block;
  text-decoration: none;
  color: #666666;
}
/* line 23, ../src/sass/tabs.scss */
.nav-tabs .tab.active {
  cursor: default;
  background-color: #ccc;
}
/* line 26, ../src/sass/tabs.scss */
.nav-tabs .tab.active.tab-hover, .nav-tabs .tab.active.tab-click {
  height: 32px;
  line-height: 32px;
  width: 18.4%;
  margin: 0 1%;
}
/* line 31, ../src/sass/tabs.scss */
.nav-tabs .tab.active.tab-hover:first-child, .nav-tabs .tab.active.tab-click:first-child {
  margin-left: 0;
}
/* line 32, ../src/sass/tabs.scss */
.nav-tabs .tab.active.tab-hover:last-child, .nav-tabs .tab.active.tab-click:last-child {
  margin-right: 0;
}
/* line 35, ../src/sass/tabs.scss */
.nav-tabs .tab.tab-hover, .nav-tabs .tab.tab-click {
  height: 28px;
  line-height: 28px;
  width: 16.4%;
  margin: 0 2%;
}
/* line 40, ../src/sass/tabs.scss */
.nav-tabs .tab.tab-hover:first-child, .nav-tabs .tab.tab-click:first-child {
  margin-left: 1%;
}
/* line 41, ../src/sass/tabs.scss */
.nav-tabs .tab.tab-hover:last-child, .nav-tabs .tab.tab-click:last-child {
  margin-right: 1%;
}
/* line 43, ../src/sass/tabs.scss */
.nav-tabs .tab:first-child {
  margin-left: 0;
}
/* line 44, ../src/sass/tabs.scss */
.nav-tabs .tab:last-child {
  margin-right: 0;
}

/* line 8, ../src/sass/style.scss */
body {
  background-color: #eeeeee;
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

/* line 13, ../src/sass/style.scss */
.container {
  height: 100%;
}

/* line 17, ../src/sass/style.scss */
.header {
  height: 48px;
  line-height: 48px;
  color: #fff;
  background-color: #e67e22;
  -webkit-box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.2);
  box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.2);
}
/* line 23, ../src/sass/style.scss */
.header h1 {
  text-align: center;
  font-size: 100%;
}
/* line 27, ../src/sass/style.scss */
.header.header-m {
  background-color: rgba(153, 0, 0, 0.5);
}
/* line 28, ../src/sass/style.scss */
.header.header-e {
  background-color: rgba(204, 153, 0, 0.5);
}
/* line 29, ../src/sass/style.scss */
.header.header-c {
  background-color: rgba(0, 102, 204, 0.5);
}
/* line 30, ../src/sass/style.scss */
.header.header-a {
  background-color: rgba(0, 102, 0, 0.5);
}
/* line 31, ../src/sass/style.scss */
.header.header-adv {
  background-color: rgba(51, 51, 51, 0.5);
}

/* line 34, ../src/sass/style.scss */
.footer {
  height: 48px;
  line-height: 1.8em;
  text-align: center;
  font-size: 80%;
  color: #666666;
  border-top: 1px solid #ccc;
  padding-top: 8px;
  margin: 0 8px;
}
/* line 40, ../src/sass/style.scss */
.footer a {
  color: #666666;
}
/* line 18, ../../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.footer a:visited {
  color: #666666;
}
/* line 21, ../../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.footer a:focus {
  color: #e67e22;
}
/* line 24, ../../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.footer a:hover {
  color: #e67e22;
}
/* line 27, ../../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.footer a:active {
  color: #e67e22;
}

/* line 46, ../src/sass/style.scss */
.slash-delimited-list {
  /* @include delimited-list(' / '); */
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 49, ../../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
.slash-delimited-list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
}
/* line 50, ../src/sass/style.scss */
.slash-delimited-list li:after {
  content: '/';
  padding: 0 .3em;
}
/* line 51, ../src/sass/style.scss */
.slash-delimited-list li:last-child:after {
  content: '';
}

/* line 55, ../src/sass/style.scss */
h1 {
  font-size: 120%;
  margin-bottom: 12px;
}

/* line 60, ../src/sass/style.scss */
h2 {
  margin-top: 12px;
  border-bottom: 1px solid #ccc;
}
/* line 63, ../src/sass/style.scss */
h2:before {
  content: 'ï¼Š ';
}

/* line 66, ../src/sass/style.scss */
p, ul {
  padding: 8px;
}

/* line 70, ../src/sass/style.scss */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 78, ../src/sass/style.scss */
.modal-wrapper .modal {
  position: relative;
  top: 25%;
  min-width: 300px;
  width: 90%;
  vertical-align: middle;
  background-color: #eee;
  margin: 0 auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
