@import 'compass';
@import 'compass/reset';

@import 'variables';
@import 'cards';
@import 'tabs';

body {
  background-color: $bg-color;
  font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.container {
  height: 100%;
}

.header {
  height: 48px;
  line-height: 48px;
  color: #fff;
  background-color: $base-color;
  @include single-box-shadow(rgba(#666, 0.2), 1px, 1px, 3px);
  .page-back {
    display: block;
    position: absolute;
    font-size: 75%;
    left: $card-item-margin;
    z-index: 1000;
    text-decoration: none;
    @include link-colors(#fff, rgba(#fff, 0.8), rgba(#fff, 0.8), #fff, rgba(#fff, 0.8));
  }
  h1 {
    text-align: center;
    font-size: 100%;
  }
  &.header-m { background-color: $color-m; }
  &.header-e { background-color: $color-e; }
  &.header-c { background-color: $color-c; }
  &.header-a { background-color: $color-a; }
  &.header-adv { background-color: $color-adv; }
}

.footer {
  height: 48px;
  line-height: 1.8em;
  text-align: center;
  font-size: 80%;
  color: $text-color;
  a { @include link-colors($text-color, $base-color, $base-color, $text-color, $base-color); }
  border-top: 1px solid #ccc;
  padding-top: $card-item-margin;
  margin: 0 $card-item-margin;
}

.slash-delimited-list {
  /* @include delimited-list(' / '); */
  @include inline-block-list;
  li {
    &:after { content: '/'; padding: 0 .3em; }
    &:last-child { &:after { content: ''; } }
  }
}

h1 {
  font-size: 120%;
  margin-bottom: 12px;
}

h2 {
  margin-top: 12px;
  border-bottom: 1px solid #ccc;
  &:before { content: '＊ '; }
}

p, ul {
  padding: 8px;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.6);
  .modal {
    position: relative;
    top: 25%;
    min-width: 300px;
    width: 90%;
    vertical-align: middle;
    background-color: #eee;
    margin: 0 auto;
    @include border-radius(3px);
  }
}
