<header class="header header-{{department.abbr}}">
  <p>{{class_}}</p>
</header>

<ul class="tab-wday tab-timetable">
  <li ng-repeat="wday in [1, 2, 3, 4, 5]" ng-class="{active: currentWday==wday}">
    <a ng-href="{{href(wday)}}" ng-disabled="{{currentWday==wday}}">{{wdayJa[wday]}}</a>
  </li>
</ul>

<ul ng-repeat="wday in [1, 2, 3, 4, 5]" class="timetable-list" ng-class="{active: currentWday==wday}">
  <li ng-repeat="period in [1, 2, 3, 4]">
    <a ng-href="#/lectures/{{timetables[wday][period].lectureId}}" class="with-abbr">
      <span class="abbr abbr-{{department.abbr}}">{{period}}</span>
      {{timetables[wday][period].title | truncate:12}}
      <span><i class="fa fa-chevron-right"></i></span>
    </a>
  </li>
</ul>
