<header class="header header-{{department.abbr}}">
  <h1>{{class_}}</h1>
</header>

<tab-set>
<tab-pane ng-repeat="(wday, column) in timetable.columns" heading="{{wdayJa[wday]}}" href="{{href(wday)}}">
    <ol class="card-set">
      <li ng-repeat="(period, cell) in column.cells">
        <a ng-click="onCellClicked(cell.ids())" class="card-item card-item-fixed" ng-class="{'card-item-shrinkable': cell.hasLectures(), 'card-item-disable':!cell.hasLectures()}">
          <span class="card-item-icon icon-{{department.abbr}}">{{period}}</span>
          <span class="card-item-content">{{cell.title() | truncate:15}}</span>
          <span class="card-item-caret"><i class="fa fa-chevron-right"></i></span>
        </a>
      </li>
    </ol>
  </tab-pane>
</tab-set>
